@import url("../lib/bootstrap.css");
@import url("../lib/materialize.css");

.bg-light{
    background: #f2f2f2;
}
.container{
    background: white;
    padding: 10px;
}
table td{
    font-size:18px;
    padding: 4px 4px !important;
}
table i.material-icons{
    font-size:28px !important;
}
.nav-wrapper {
    direction: rtl;
}
table img{
    width: 64px;
    height: 64px;
    border-radius: 100%;
}
body{
    padding-bottom: 100px;
}